@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.principale {
	width:100%;
	height:auto;
	margin: 20px auto;
}
.testata_logo {
	width:100%;
	height: auto;
	text-align: center;
	margin: auto;
}
.bottone {
	width:500px;
	height:78px;
	margin: 10px auto;
	background-image:url(../immagini_spiro/bott_spiro1.png);
	background-repeat:no-repeat;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:50px;
	font-weight:bold;
	padding-top:25px;
	color:rgb(255,255,255);
	text-decoration:none;
}
