/*====RESET=======================================*/
/*==END=RESET=======================================*/

/*---MENU---*/
	html {
    font-family: Arial;
    font-size: 11px;
    color: #FFF;
    margin-bottom: 80px;
}

	body {
	margin: 0 !important;
}

div#main_container {
    margin-top: 50px !important;
}

	li{
		list-style: none;
        width:auto;
		color:#FFF;
	}
	ul{
		text-align:right;
	}
	a{
		text-decoration: none;
		color: #FFF;
	} 
	
	th, th a{
		color:#FFFFFF;
		text-align:left;
	}
	
	.totale_prezzo{
		text-align:right;
	}

/*BARRA TOP LINGUA*/
	#lingua {
		padding-top:15px;
		color: #000;
		height: 25px;
		  /*background: #727272;*/
		border-bottom: 1px solid #e8e8e8;
		overflow:hidden;
	}
	#lingua ul{
		float:right;
		color: #fff;
		margin-right:-45px;
	}
	#lingua ul li{
		float:left;
		margin-right: 50px;
	}
	#lingua ul li select {
		margin-top:-1px;
	}
	#lingua ul li a{
		color: #fff;
	}

	#lingua div {
    color: #999 !important;
    font-weight: 100;
    font-size: 12px;
    margin-right: 2px;
}

select#lang {
    border: 1px solid #d2d2d2 !important;
    color: #999 !important;
}

.colore_testo {
		color: #fff;
}
/*END BARRA TOP LINGUA*/

/*TESTATA*/
#testa{
	padding:10px 0;
	height:70px;
}
#logo{
	width:177px;
	height:70px;
	float:left;
	margin-right:20px;
}

#bottoni_testata{
	padding-top:20px;
	float:right;
	margin-top:-30px;
	width: 400px;
}
#bottoni_testata .btn{
	float:left;
	margin-right:15px;
}
/*END TESTATA*/


	.voce_top_menu{
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
		border-right: 1px solid #fff;
		/*background: #0079ca;
		background: #0079ca;*/
		background: #225e99;
	}
	.voce_top_menu_hover{
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
		border-right: 1px solid #fff;
/*		background:#124A82;
		background:#0079ca;*/
	}
	.voce_top_menu_grey{
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
		border-right: 1px solid #fff;
		/*background: #0079ca;
		background: #999;*/
		background: #56616b;
	}
	.voce_top_menu_grey_hover{
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
		border-right: 1px solid #fff;
/*		background:#93d1f7;
		background-color:#666;*/
	}
	.voce_top_menu_blue_grey {
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
		border-right: 1px solid #fff;
		/*background: #0079ca;
		background: #999;*/
		background: #7c8c99;
	}
	.voce_top_menu_blue_grey_hover {
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
/*		background:#93d1f7;*/
		/*DA RIATTIVARE CON IL TASTO VIVISTORE
		border-right: 1px solid #fff;
		background:#0079ca;*/
	}
	.voce_top_menu_dark_blue {
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
		border-right: 1px solid #fff;
		/*background: #0079ca;
		background: #999;*/
		background: #003c80;
	}
	.voce_top_menu_dark_blue_hover {
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
/*		background:#93d1f7;*/
		/*DA RIATTIVARE CON IL TASTO VIVISTORE
		border-right: 1px solid #fff;
		background:#0079ca;*/
	}
	
	.voce_top_menu_viv {
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color:#FFF;
		background-color: #7cc142;
		width: 120px;
		/*background: #0079ca;*/
		/*DA RIATTIVARE CON IL TASTO VIVISTORE
		border-right: 1px solid #fff;
		background: #003c80;*/
	}
	.voce_top_menu_viv_hover {
		float: left;
		padding: 7px 0 7px 7px;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		width: 120px;
/*		background:#93d1f7;*/
		/*DA RIATTIVARE CON IL TASTO VIVISTORE
		border-right: 1px solid #fff;
		background:#0079ca;*/
	}
	.select_market {
		font-weight: bold;
		padding: 7px;
		float:right;
		color: #FFED00;
	}

/*	#wrap {
		width:960px;
		margin: auto;	
	}
*/
	#menu{
		color: #000;
		height: 28px;
		/*margin-bottom: 150px;*/
		background: #bfbfbe;
	}
	.menu_markets li{
		color: #000;
	}

	#test{
		height: 140px;
	}
	.lightBlue{
		background:#0079ca;
	}
	.searchMenu{
		background: #003c80;
	}
/*	.submenuRicerca{
		margin-top: 20px !important;
		height: 100px;
		background:#c6e8c6 url('../immagini/testata_ricerca.png') no-repeat right bottom;
	}  */


	.submenuRicerca {
    margin-top: 20px !important;
    height: 100px;
    background: #c5dcf0;
   /* border: 1px solid #53a3da */ ;
}


	.submenureport{
	/*margin-top: -15px;*/
	padding-top:15px;
		height: 95px;
		background:#dddddd url('../immagini/testate_menu.png') no-repeat right bottom;
	}
	.submenuordini{
	/*margin-top: -15px;*/
	padding-top:15px;
		height: 95px;
		background:#dddddd url('../immagini/sfondo_ordini.png') no-repeat right bottom;
	}


#formRicerca strong {
        min-height: 0px !important;
    color: #444 !important;
    text-transform: uppercase;
    font-weight: 100;
}

#formRicerca #pulsante_applica div {
    background: #737373 !important;
    color: #fff !important;
    border: none !important;
}

#formRicerca #pulsante_applica div:hover {
    background: #414141 !important;
}

.pulsantiricerca {
    background: none !important;
    border: 2px solid #aaa;
    color: #888 !important;
}

.pulsantiricerca:hover {
    background: #c8c8c8 !important;
    border: 2px solid #c8c8c8 !important;
}

#formRicerca input {
    border: 1px solid grey !important; 
}


 select#status {
    border: 1px solid grey !important;
    height: 27px !important;
} 


#formRicerca {
float: left;
}
	#percorso{
    float:left;
    width:958px;
    height:20px;
	margin-top:30px;
	margin-bottom:20px;
	}
	.percorso_rosso{
    padding: 10px 14px !important;    
    background: #53a3da !important;
    margin-left: -16px;
    margin-right: -16px;

	}
	#rdaMenu{
	float: right;
	margin-right: 0px;
	/*color:#000000*/
	}
	.contenitore_percorso_nuovo{
/*float:left;*/
width:900px;
    height:35px;
	margin-bottom:10px;
	}
	#subMenu{
		/*margin-top:20px;*/
	height:35px;
	margin:auto;
	}
	#subMenu ul li {
		float:left;
		font-size: 13px;
		border-left: 1px solid #000;
		/*margin-right: 15px;*/
	}
	#subMenu ul li:hover{
/*		background: #e6f5fc;
*/		background: #b8e3f6;
		
	}
	#subMenu ul li a{
	display:block;
	padding: 5px 15px;
	font-weight: bold;
	/*color: #000;*/
	}
	.subsub {
	font-size: 13px;
	border-left: 1px solid #ddd;
	padding: 5px 15px;
	font-weight: bold;
	float:right;
	margin-top:10px;
	text-decoration:none;
	color:#a9a9a9 !important;
	}

	.subsub:hover {
	color:rgb(0, 60, 128) !important;
	}
	.subsub:active {
	color:rgb(0, 60, 128) !important;
	}


	.subsub_evid {
	color:rgb(0, 60, 128) !important;
	font-size: 13px;
    border-left: 1px solid #ddd;
    padding: 5px 15px;
    font-weight: bold;
    float: right;
    margin-top: 10px;
    text-decoration: none;
	}

	.modulo_percorso {
    float: left !important;
    font-family: Arial !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    width: auto !important;
    height: auto !important;
    padding-right: 5px !important;
    color: #aeaeae !important;
    cursor: pointer !important;
    padding: 8px 14px !important;
    border: 2px solid #eaeaea !important;
    margin-right: -2px;
}

.modulo_percorso:hover {
    background: #eaeaea !important;
}


.modulo_percorso_rosso {
    font-family: Arial !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    width: auto !important;
    height: auto !important;
    padding-right: 5px !important;
    color: #5e5e5e !important;
    float: left !important;
    border-left: #dedede !important;
    padding: 10px 14px !important;    
    background: #dedede !important;
}

	/*type*/
	h2{
	font-size: 16px;
	color: black;
	}
	h2 a {
		color: black;
		font-weight:bold;
	}
	

	/*JS Style*/

	.col{
    text-align: left !important;
    margin-left: 12px !important;
    min-height: 0px !important;
    padding: 10px 6px !important;
    font-size: 12px;
		margin-top:8px;
		width: auto;
		float: left;
	}

	.col strong{
      min-height: 0px !important;
    color: #444 !important;
    text-transform: uppercase;
    font-weight: 100;
	}

.col br {
    line-height: 20px;
}


input#codice {
        background-color: #fff !important;
    border: 1px solid #53a3da  !important;
    padding: 4px 14px !important;
    color: #53a3da ;
    font-size: 14px;
}

input#descrizione {
        background-color: #fff !important;
    border: 1px solid #53a3da  !important;
    padding: 4px 14px !important;
    color: #53a3da ;
    font-size: 14px;
}


select#negozio_ricerca{
	  background-color: #fff !important;
    border: 1px solid #53a3da  !important;
    padding: 4px 14px !important;
    color: #53a3da  !important;
    font-size: 12px !important;
}


input#button {
    background-color: #53a3da  !important;
    border: 1px solid #4a82c3 !important;
    color: #fff !important;
    margin-top: 0px !important;
    width: 64px;
    height: 19px;
    font-size: 12px;
    letter-spacing: 1px;
}

input#button:hover {
    background-color: #8FC4E7  !important;
    border: 1px solid #a4c8ea !important;
    color: #fff !important;
}


	.sottomenu_new{
		margin-top:2px;
		width: auto;
		float: none;
		padding:1px;
		text-decoration:none;
		color:#FFF;
	}
	.sottomenu_new:hover{
		text-decoration:none;
		color:#FFF;
		background: #b8e3f6;
	}
	.col_excel{
		width: 200;
		float: left;
		padding:10px 0 0 15px;
	}
	.col_report{
		width: 120px;
		float: left;
		padding:10px 0 0 15px;
	}


	#asset li:hover {
		background: #899198;
	}
	
	#spareParts li:hover {
		background: #a4afb8;
	}

	#consumable li:hover {
		background: #4a77a6;
	}

	#labels li:hover {
		background: #658fb8;
	}

	#vivistore li:hover {
    background: #a4d47b;
	}


	.show{
		margin-top:-1px;
		overflow:hidden;
		position: absolute;
		z-index: 1;
		width: 960px;
		height: 160px;
		/*background: #93d1f7;*/
	}
	.show li{
		margin-top: 4px;
		padding: 6px; 
	}
	.show li:hover{
		background: rgba(255,255,255,0.2);
	}
	.show li.evidgrey:hover{
		color: #444;
		background: rgba(255,255,255,0.2);
		padding: 6px;
	}
	.show li.evidgreen:hover{
		background: rgba(255,255,255,0.2);
	}
	.show li a{
		font-size: 12px;
		/*color: #000*/;
	}
	.hide{
		display:none;
	}

	.menuAssetBg{
		background-color:#56616b;
		/*
		background-color:#999;
		background-image: url('../immagini/asset.png') no-repeat right bottom;*/
		color:#FFF;
	}
	.menuConsumableBg{
	/*background-image: url('../immagini/consumabili.png') no-repeat right bottom;
		background-color:#0079ca;*/
		background-color:#003c80;
	}
	.menuSpBg{
		/*background-color:#999;
		background-image: url('../immagini/ricambi.png') no-repeat right bottom;*/
		background-color:#7c8c99;
	}
	.menuLabelsBg{
		/*background-color:#0079ca;
		background-image: url('../immagini/testata_pharma.png') no-repeat right bottom;*/
		background-color:#225e99;
	}
	.menuVivistoreBg{
		/*background-color:rgb(120,190,32);
		background-image:url('../immagini/testata_menu_vivisol.png') no-repeat right bottom;*/
		background-color:#7cc142;
	}
	.medDeviceColor{
		background:#d9e6ff;
	}
	.search{
		background:#c6e8c6 url('../immagini/testata_ricerca.png') no-repeat right bottom;
	}

.btnav { 
background-color: <?php echo $sfondo_righe_tab; ?>;
	height: 25px;
} 
.btnav2 {
	background-color: #FFFFFF;
	height: 25px;
} 


.columns_righe1 {
    width: 936px !important;
    border-top: none !important;
    border-bottom: 1px solid #badcf4 !important;
    background: none !important;
    margin: 0px 12px;
    padding: 12px 0px 22px 0px;
    height: 20px;
}
.columns_righe1:hover {
    background: #b8e3f6;
}

.columns_righe2 {
    width: 936px !important;
    border-top: none !important;
    border-bottom: 1px solid #badcf4 !important;
    background: none !important;
    margin: 0px 12px;
    padding: 12px 0px 22px 0px;
    height: 20px;
}

.columns_righe2:hover {
    background: #b8e3f6;
}

.riga_divisoria{
	display: none !important;
}

#riga_totale {
    width: 936px !important;
    border-top: none !important;
    border-bottom: 1px solid #badcf4 !important;
    padding: 12px 0px 22px 0px;
    margin: 0px 12px;
	margin-bottom: 20px;
}
#box_elimina {
    width: 32px !important;
}
#box_lente {
    width: 61px !important;
}
#box_elimina img {
    float: right;
}
#box_lente img {
    float: right;
}

.cod1_riga {
    margin-left: 10px !important;
    padding-top: 7px;
    width: 78px;
    padding-left: 0px !important;
}


.descr4_riga {
	padding-top: 7px;
}

div#tot_gen {
    width: 62px !important;
}

.price6_riga_quant input {
    border: 1px solid #888 !important;
    color: #666 !important;
    padding: 2px;
    background: #f8f8f8;
}

#riga_totale {
    background: none !important;
    margin-top: 30px !important;
    margin-bottom: 40px !important;
}

.col_destra {
	width: auto;
	float: right;
}
.hilightcolor {
/*	background:#84C1DF;
*/	background:<?php echo $sfondo_highlight; ?>;
	
}
#filtri {
	height:30px;
	background: #FFFFFF;
}


/*---TABELLA---*/

/*html{
	color: #000;
	font-family: Arial,Helvetica,Sans-Serif;

}
*/
/*table{
	width: 960px;
	font-size: 13px;
	text-align: left;
	border-collapse: collapse;
}
*/
.tab_rda{
	color:rgb(0,0,0);
	width: 580px;
	font-size: 13px;
	text-align: left;
}
.tab_mod_scheda{
	width: 300px;
	font-size: 13px;
	text-align: left;
	border-collapse: collapse;
}

.table_right{
	width: 960px;
	font-size: 13px;
	text-align: right;
	border-collapse: collapse;
}

#wrap{
	width:960px;
	margin: auto;
}

#avv_utente{
	width:960px;
	margin: auto;
	color: #FF0000;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
	text-align:center;
}
#cont_ricerche {
	min-height: 50px;
	overflow:hidden;
	height:auto;
	width:960px;
}

.fine-ricerca {
    border: 1px solid #a4c8ea;
    border-top: none;
    width: 958px;
	min-height: 60px;
    overflow: hidden;
    height: auto;
    padding-top: 40px;
	margin-top: -13px;
	color: #a4c8ea;
	font-weight:bold;
	text-align:center;
	font-size:12px;
}
.rowHead{
	height: 25px;
	background: #53a3da;
	width:960px;
	color: #222;
}

.row{
	height: 32px;
	color: #445864;
}
.row:hover{
/*	background: #56BBED;*/
	background: #80b6e2;
}
.grigio{
	background: #eaeaea;
}
.bianco{
	background: #fff;
}
.azzurrino{
	background: #c7dff2;
}
.format_testata {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
}
.format_testata a{
	color: #FFFFFF;
}
.codeTitle{
	padding-left:7px;
	color: #FFFFFF;
}
.codeTitle_nopadding{
	color: #FFFFFF;
}
.codeTitle_dx{
	padding-right:7px;
	text-align: right;
	color: #FFFFFF;
}
.noteRda{
	padding-left:0px;
	color: #000000;
}
.code{
	padding-left:7px;
	text-transform: uppercase;
}
.codice_lista {
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	padding-left:7px;
}
.codice_lista_nopadding {
	color:rgb(0,0,0);
	font-family: Arial;
	font-size: 11px;
	text-align: left;
}
.price {
	color:rgb(0,0,0);
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	padding-right: 30px;
}
.price_mag_rosso {
	font-family: Arial;
	font-size: 13px;
	text-align: right;
	padding-right: 15px;
	font-weight: bold;
	color: #FF0000;
}
.price_mag_verde {
	font-family: Arial;
	font-size: 13px;
	text-align: right;
	padding-right: 15px;
	font-weight: bold;
	color: #009900;
}

/*STILI AVVERTIMENTI*/
.stile_verde {
	color: #009900;
	font-weight: bold;
	font-size: 16px;
}
.stile_rosso {
	font-family:Arial;
	color: #FF0000;
	font-weight: bold;
	font-size: 16px;
	text-align:center;
}
.stile_blu {
	color: #0033FF;
	font-weight: bold;
	font-size: 16px;
}

.Stile_griglia {
	font-size: 12px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
.Stile_griglia a {
	color: #000000;
}

/*ROW COLORS*/
.carrelloColor {
/*	background: #d9e6ff;
*/	background:#F0F0F0;
}
.grigio{
	background: #eaeaea;
}
.assetColor{
/*	background:#d9d9d9;
	background:#F0F0F0;
	background:#0079ca;
	background:#999;*/
	background:#56616b;
}
.consumableColor{
/*	background: #ffd9d9;
	background:#F0F0F0;*/
	background:#003c80;
}
.labelsColor{
/*	background: #ffd9d9;
	background:#F0F0F0;*/
	background:#225e99;
}
.sparePartsColor{
/*	background:#e3dbe8;
	background:#F0F0F0;
	background:#0079ca;*/
	background:#7c8c99;
}
.vivistoreColor{
/*	background:#d9f2e5;*/
	background:#7cc142;
}
.medDeviceColor{
/*	background:#d9e6ff;
*/	background:#F0F0F0;
}
.cartColor{
/*	background: #9999FF;
*/	background:#F0F0F0;
}
.rdaColor{
/*	background: #FF3366;
*/	background:#F0F0F0;
}
.searchColor{
/*	background:#fff7d9;
*/	background:#e3eff7;
}
td.gas {
	text-align:center;
}
th.capacity {
	text-align:center;
}
/*#filtri {
	height:30px;
}
*/
/*BOTTONI*/
.btn{	
	font-size: 11px;
	font-family:Arial;
	/*font-weight:bold;*/
	
		
}

div#note_carrello {
    width: 490px;
    float: left;
    position: absolute;
        margin-bottom: 40px;
}

div#pulsanti_carrello {
    width: 200px;
    float: right;
    position: relative;
}

div#form_carrello {
    display: inline;
}


div#scritta_misteriosa {
    display: none;
}


#crea_rda_carrello {
	color: #fff;
	cursor: pointer;
	display: block;
	height: 25px;
	line-height: 19px;
	text-align: left;
	width: 160px;
	float: right;
	z-index: 2;
	font-size: 11px;
	font-family:Arial;
	float: right;
	margin-top: 8px;
}
.btnFrecciac a {
	background-image: url("../immagini/btn_green_freccia_120x19.jpg");
	color: #fff;
	cursor: pointer;
	display: block;
	height: 27px;
	line-height: 27px;
	text-align: left;
	width: 171px;
	padding-left: 3px;
	float: right;
	z-index: 2;
}
.btnFrecciac a:hover {
    background-image: url("../immagini/btn_green_freccia_120x19.png") no-repeat scroll 0 -29px transparent;
}
#svuota_carrello {
	color: #666;
	cursor: pointer;
	display: block;
	height: 25px;
	text-align: left;
	width: 160px;
	float: right;
	z-index: 2;
	margin-top:10px;
	float: right;

}



.btnProsegui a {
    background-image: url("../immagini/btn_green_160x19.jpg") no-repeat scroll 0 0 transparent;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 19px;
    line-height: 19px;
    text-align: left;
    width: 157px;
    padding-left: 3px;
}
.btnProsegui a:hover {
    background-image: url("../immagini/btn_green_160x19.jpg") no-repeat scroll 0 -29px transparent;
}

.btnRicerca {
    background-image: url("../images/btn_ricerca.png");
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    display: block;
    height: 32px;
    width: 190px;
    padding-top: 0px;
    line-height: 12px;
    text-align: left;
    padding-left: 5px;
    float: left;
    background-size: contain;
    font-size: 12px;
}

.btnCarrello {
    background-image: url("../images/btn_carrello.png");
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    display: block;
    height: 32px;
    width: 190px;
    padding-top: 2px;    
    line-height: 12px;
    text-align: left;
    padding-left: 5px;
    float: left;
    background-size: contain;
    font-size: 12px;
    margin-left: 8px;
    font-weight: 100;
}

.btnCarrello strong {
    font-weight: bold;
}

.btnPaginaOrdini a {
	background-image: url("../immagini/btn_gray_150x25.jpg") no-repeat scroll 0 0 transparent;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 25px;
	line-height: 20px;
	text-align: right;
	width: 147px;
	padding-left: 3px;
	padding-top:2px;
	font-weight:bold;
	margin-left: 60px;
}
.btnPaginaOrdini a:hover {
    background-image: url("../immagini/btn_gray_150x25.jpg") no-repeat scroll 0 -35px transparent;
}

.btnTornaHome a {
    background-image: url("../immagini/btn_green_freccia_150x25.jpg") no-repeat scroll 0 0 transparent;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 20px;
    text-align: left;
    width: 147px;
    padding-left: 3px;
    padding-top:2px;
    font-weight:bold;
}
.btnTornaHome a:hover {
    background-image: url("../immagini/btn_green_freccia_150x25.jpg") no-repeat scroll 0 -35px transparent;
}

.btnLente a {
    background-image: url("../immagini/btn_lente_19x19.jpg") no-repeat scroll 0 0 transparent;
    color: #fff;
    display:block;
    cursor: pointer;
    height: 19px;
    width: 19px;
}
.btnLente a:hover {
    background-image: url("../immagini/btn_lente_19x19.jpg") no-repeat scroll 0 -29px transparent;
}

.btnStella a {
    background-image: url("../immagini/btn_stella_19x19.jpg") no-repeat scroll 0 0 transparent;
    color: #fff;
    display:block;
    cursor: pointer;
    height: 19px;
    width: 19px;
}
.btnStella a:hover {
    background-image: url("../immagini/btn_stella_19x19.jpg") no-repeat scroll 0 -29px transparent;
}

.btnCarrello19x19 a {
    background-image: url("../immagini/btn_carrello_19x19.jpg") no-repeat scroll 0 0 transparent;
    color: #fff;
    display:block;
    cursor: pointer;
    height: 19px;
    width: 19px;
}
.btnCarrello19x19 a:hover {
    background-image: url("../immagini/btn_carrello_19x19.jpg") no-repeat scroll 0 -29px transparent;
}
.btnRimuovi a {
    background-image: url("../immagini/btn_rimuovi_19x19.jpg") no-repeat scroll 0 0 transparent;
    color: #fff;
    display:block;
    cursor: pointer;
    height: 19px;
    width: 19px;
}
.btnRimuovi a:hover {
    background-image: url("../immagini/btn_rimuovi_19x19.jpg") no-repeat scroll 0 -29px transparent;
}

/*PAGINATION*/
.num_pag {
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	color: #CCCCCC;
	margin-top: 12px;
}
.num_pag a {
	color: #bbb;
}
.current_num_pag {
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	color: #888;
}
.immagine {
	width: 300px;
	height: 300px;
	float: right;
	padding:0px 0px 0px 0px;
	margin-right: 20px;
}
.testo_scheda {
	width: 290px;
/*	height: 330px;
*/	float: left;
	padding:0px 0px 0px 0px;
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.contenitore_links_scheda {
	width: 125px;
	height: 300px;
	float: left;
	padding:0px 0px 0px 0px;
	margin-left: 20px;
}
.gallery_pdf_docs_scheda {
	width: 120px;
	height: 230px;
	float: left;
}
.edit_duplicate_scheda {
	width: 248px;
	height: 70px;
	float: left;
}

.titolo_scheda {
	color:rgb(0,0,0);
	width: 780px;
	float: left;
	padding:0px 0px 0px 0px;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.editing_scheda {
	width: 780px;
	float: left;
	padding:0px 0px 0px 0px;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.fascioni_scheda {
	width: 260px;
/*	height: 55px;
*/	float: left;
	padding:0px 0px 0px 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.fascione_immagine {
	width: 285px;
	float: left;
	padding:0px 0px 0px 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.notine_scheda {
	width: 110px;
	float: left;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0033FF;
}
.colonne_scheda {
	width: 385px;
	float: left;
	padding:0px 0px 10px 0px;
}
.rda {
	margin-right: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	float: left;
	margin-top: 10px;
	text-align:right
}
.btnFreccia_b {
	display: block;
	height: 19px;
	width: 117px;
	float: right;
	z-index: 3;
}
.btnPaginaOrdinidx a {
	background: url("../immagini/btn_gray_150x25.jpg") no-repeat scroll 0 0 transparent;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 25px;
	line-height: 20px;
	text-align: left;
	width: 147px;
	padding-left: 3px;
	padding-top:2px;
	font-weight:bold;
	float: right;
}
.btnFrecciadx a {
	background: url("../immagini/btn_gray_150x25.jpg") no-repeat scroll 0 0 transparent;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 19px;
	line-height: 19px;
	text-align: left;
	width: 117px;
	padding-left: 3px;
	float: right;
	z-index: 2;
}
/*STILI HOME*/

#content{
	width: 960px;
	margin:auto;
	margin-top: 50px;
}
#content2{
	width: 980px;
	margin:auto;
	margin-top: 50px;
}

#content-home{
	width: 980px;
	height: 382px;
	margin:auto;
	margin-top: 50px;
	background: url('../immagini/prodotti_home03.gif');

}

#content-home_assets{
	width: 980px;
	height: 382px;
	margin:auto;
	margin-top: 50px;
	background: url('../images/home_assets.jpg');
	display: none;
}

#content-home_ricambi{
	width: 980px;
	height: 382px;
	margin:auto;
	margin-top: 50px;
	background: url('../images/home_ricambi.jpg');
	display: none;
}


#content-home_consumabili{
	width: 980px;
	height: 382px;
	margin:auto;
	margin-top: 50px;
	background: url('../images/home_consumabili.jpg');
	display: none;
}

#content-home_etichette{
	width: 980px;
	height: 382px;
	margin:auto;
	margin-top: 50px;
	background: url('../images/home_etichette.jpg');
	display: none;
}

#content-home_vivistore{
	width: 980px;
	height: 382px;
	margin:auto;
	margin-top: 50px;
	background: url('../images/home_vivistore.jpg');
	display: none;
}

.rigaIndex{
	height:140px;
}

.colIndex{
	float:left;
	width:480px;
	height:140px;
}

.colIndex p{
margin-top:35px;
	font-weight: bold;
	color: #555;
	font-size:12px;
}
.txIndexdx{
	font-weight: bold;
	color: #555;
	font-size:12px;
	text-align:right;
	padding-right:10px;
}
.txIndexsx{
	font-weight: bold;
	color: #555;
	font-size:12px;
	text-align:left;
	padding-left:10px;
}
.subCol{
	float:left;
	width: 240px;
	height: 180px;
}
.rightAlign{
	text-align:right;
	padding-right:10px;
}
.leftAlign{
	padding-left:10px;
	vertical-align: bottom;
}
.tot_carrello {
	color:rgb(0,0,0);
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}
textarea {
    background-color: #FFFFdd;
    color: #9b2220;
    font-size: 12px;
    border: 2px solid #efefef;
}
#modal_si {
	width: 150;
	height: 40;
	float: left;
}
#modal_no {
	width: 150;
	height: 40;
	float:right;
}
#pop_container {
	width:360;
/*	height:80;
*/	margin: auto;
	margin-top: 10px;
	font-family: Arial;
	color: green;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
#contenitore_pulsanti {
		margin: auto;
}
.titolo_rda {
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}
.riquadri {
	width:184px;
	height:184px;
	margin-left:10px;
	margin-top:10px;
	float:left;
}
.riquadri_filo {
	width:182px;
	height:182px;
	margin-left:10px;
	margin-top:10px;
	float:left;
	border:#666 1px solid;
}
.riquadri_doppi {
	width:376px;
	height:182px;
	margin-left:10px;
	margin-top:10px;
	float:left;
}
#riquadro_grigio {
	background-color:#666;
	color:#FFF;
}
#riquadro_blu {
	/*padding:10px;*/
	background: #0079ca;
	color:#FFF;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
}
.testi_bianchi_home {
	width:164px;
	height:164px;
	margin-left:15px;
	margin-top:15px;
	float:left;
	color:#FFF;
}
#scritta_rossa {
	width:164px;
	height:164px;
	margin-left:10px;
	margin-top:10px;
	float:left;
	/*border:#666 1px solid;*/
	padding:10px;
	background-color:#fff;
	color:#F00;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}

input#submit {
    color: blue;
}


#pulsante_invio input#submit {
    background-color: #ddd !important;
    border: 2px solid #ccc !important;
    color: #444 !important;
    margin-top: -10px !important;
}

#pulsante_invio input#submit:hover {
    background-color: #aaa !important;
    border: 2px solid #888 !important;
    color: #444 !important;
}


div#columns_testata {
    background-color: #b3b3b3;
    color: #fff;
    padding-top: 6px !important;
    padding-bottom: 0px !important;
    text-transform: uppercase;
    font-weight: 600;
    border-top: none !important;
        height: 20px;
}



div.cod1 {
    padding-top: 0px !important;
        width: 80px !important;
}


div.descr4 {
    width: 260px !important;
    padding-top: 0px !important;
}

div#confez5 {
    padding-left: 0px;
    margin-right: 42px;
    padding-top: 0px !important;
}

div.price6 {
    padding-top: 0px !important;
}

div.vuoto9 {
    padding-top: 0px !important;
}
.amministrazione_grigio {
    color: #888 !important;
	font-weight:normal;
	font-family: Arial;
	font-size: 11px;
	text-align: left;
}
.amministrazione_arancio {
    color: #F63 !important;
	font-weight:800;
	font-family: Arial;
	font-size: 11px;
	text-align: left;
}
.amministrazione_blu {
    color: #06F !important;
	font-weight:800;
	font-family: Arial;
	font-size: 11px;
	text-align: left;
}


