@charset "utf-8";
/* CSS Document */

#elenco {
	width:600px;
	height: auto;
	float: left;
	border: 1px solid #000000;
}
#riquadro_prodotto {
	width:958px;
	min-height: 150px;
	overflow: hidden;
	height:auto;
	float: left;
	border: 1px solid #999999;
	margin-top: 5px;
}
#riquadro_prodotto_abbass {
	width:958px;
	height:auto;
	float: left;
	border: 1px solid #999999;
	margin-top: 5px;
opacity:0.25;
filter:alpha(opacity=25);
}
.riquadro_bombole {
	width:938px;
	height:360px;
	padding:10px;
	float: left;
	border: 1px solid #999999;
	margin-top: 5px;
}
#componente_descrizione {
	width:330px;
	height:auto;
	float: left;
	text-align: left;
	font-weight: normal;
	color: black;
	font-size: 12px;
}
.componente_descrizione_bombola {
	width:535px;
	height:125px;
	margin-top:5px;
	float: left;
	text-align: left;
	font-weight: normal;
	color: black;
	font-size: 12px;
}
#puls_reset {
	width:135px;
	height:20px;
	padding:5px;
	background-color: #DBDBDB;
	color:#000000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	float: left;
}

#risultato {
	width:718px;
	height:248px;
	float: left;
}
#raggruppamento {
	width:490px;
	height:auto;
	padding-top:10px;
	padding-left:10px;
    padding-bottom:10px;
	float: left;
}
.banda_sup {
	width:950px;
	height:100px;
	float: left;
}
#componente_dati {
	width:145px;
	height:178px;
	float: left;
	padding: 0px 5px 10px 10px;
}
.componente_dati {
	width:145px;
	height:178px;
	float: left;
	padding: 0px 5px 10px 10px;
}
.componente_dati_bombola {
	width:535px;
	height:auto;
	text-align:right;
	font-weight:bold;
	color:rgb(0,0,0);
	float: left;
	/*padding: 0px 10px 0px 10px;*/
}
.blocco_dati {
	width:140px;
	height:auto;
	float: left;
	padding: 0px 10px 10px 10px;
}
.componente_iconcine {
	width:450px;
	height:auto;
	float: left;
	padding-top: 10px;
}
.componente_immagine {
	width:240px;
	height:248px;
	margin-left:10px;
	float: left;
}
#componente_immagine {
	width:240px;
	height:248px;
	margin-left:10px;
	float: left;
}
.componente_immagine_bombola {
	width:240px;
	height:248px;
	float: left;
}
#immagine_princ {
	width:246px;
	height:240px;
	float: left;
}
.immagini_acc {
	width:50px;
	height:50px;
	padding-left:10px;
	background-color: #00FFFF;
	float: left;
}

#componente_bottoni {
	width:118px;
	height:228px;
	float: left;
	margin-left:20px;
	padding-left: 10px;
	padding-right: 10px;
}
.componente_bottoni {
	width:118px;
	height:228px;
	float: left;
	margin-left:20px;
	padding-left: 10px;
	padding-right: 10px;
}
.componente_bottoni_ph {
	width:118px;
	height:228px;
	float: left;
	margin-left:30px;
	padding-left: 5px;
	padding-right: 10px;
}
.componente_bottoni_bombole {
	width:108px;
	height:228px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
#tendina {
	width:210px;
	height:auto;
	float: left;
}
.blocco_ricerca_bombole {
	width:170px;
	height:auto;
	padding:5px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.tendina_bombole {
	width:auto;
	height:auto;
	padding-bottom:2px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.pulsante_bombole {
	width:auto;
	height:auto;
	padding-top:10px;
	float: left;
}
.barra_tendine {
	width:950px;
	height:90px;
	padding:5px;
	background-color:#fffbd2;
	background-image:url(../immagini/testata_bombole.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	float: left;
}
.barra_paginazione {
	width:960px;
	height:auto;
	float: left;
}
.comp_scheda {
	width:170px;
	height:auto;
	float: left;
	padding-left: 10px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.scritte_bottoncini {
	width:65px;
	height:12px;
	float: left;
	text-align: left;
	font-weight: normal;
	color: black;
	font-size: 12px;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.bottoncini {
	width:80px;
	height:12px;
	float: left;
	text-align: left;
	font-weight: bold;
	color: black;
	font-size: 12px;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.contenitore_bottoncini_bomb {
	width:330px;
	height:18px;
	margin-bottom: 1px;
	border-bottom:solid 1px rgb(200,200,200);
	float:left;
}
.scritte_bottoncini_bomb {
	width:150px;
	height:auto;
	padding:2px 0px;
	float: left;
	text-align: left;
	font-weight: normal;
	color: black;
	font-size: 12px;
}
.bottoncini_bomb {
	width:170px;
	height:auto;
	float: left;
	padding:2px 0px;
	text-align: left;
	font-weight: bold;
	color: black;
	font-size: 12px;
}
.contenitore_bottoncini_bomb_corto {
	width:185px;
	height:18px;
	margin-bottom: 1px;
	border-bottom:solid 1px rgb(200,200,200);
	float:left;
}
.scritte_bottoncini_bomb_corto {
	width:140px;
	height:auto;
	float: left;
	text-align: left;
	font-weight: normal;
	color: black;
	font-size: 12px;
	padding:2px 0px;
}
.bottoncini_bomb_corto {
	width:30px;
	height:auto;
	float: left;
	text-align: left;
	font-weight: bold;
	color: black;
	font-size: 12px;
	padding:2px 0px;
}
.comandi {
	width:150px;
	height:20px;
	float: left;
	text-align: right;
	font-weight: bold;
	color: black;
}
.comandi_primo {
	margin-top:20px;
	width:150px;
	height:20px;
	float: left;
	text-align: right;
	font-weight: bold;
	color: black;
}
.comandi a {
	color: black;
}
.comandi_spazio {
	width:150px;
	height:10px;
	float: left;
	margin-bottom:10px;
	border-bottom:1px solid #CCC;
}
.spazio_puls_carrello {
	width:150px;
	height:20px;
	float: left;
}
.spazio_puls_carrello_bombole {
	width:150px;
	height:50px;
	float: left;
}
.pulsante_apertura {
	width:120px;
	height:17px;
	float: right;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
	margin-top: 5px;
	padding-left: 10px;
	padding-top: 2px;
    background: url("immagini/btn_green_freccia_120x19.jpg") no-repeat scroll 0 0 transparent;
}
.pulsante_carrello {
	width:150px;
	height:19px;
	float: left;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
	/*margin-top: 5px;*/
	padding-left: 5px;
	padding-top: 4px;
	background: url("immagini/btn_green_freccia_150x25.jpg") no-repeat scroll 0 0 transparent;
}
.pulsante_carrello_off {
	width:150px;
	height:19px;
	float: right;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
	/*margin-top: 5px;*/
	padding-left: 5px;
	padding-top: 4px;
	background: url("immagini/btn_green_freccia_150x25.jpg") no-repeat scroll 0 0 transparent;
	opacity:0.4;
}
.particolari {
	width:938px;
	height:50px;
	background-color: #0099FF;
	float: left;
	border: 1px solid #999999;
	padding: 10px;
}

.pulsante_galleria {
	color: #3399FF;
}
.pulsante_galleria a {
	color: #3399FF;
}
.pulsante_galleria_off {
	color: #00FFFF;
}
.pulsante_stampa {
	color: #999999;
}
.pulsante_stampa a {
	color: #999999;
}
.pulsante_stampa_off {
	color: #CCCCCC;
}
.pulsante_admin {
	color: #0066CC;
}
.pulsante_admin a {
	color: #0066CC;
}
.pulsante_admin_off {
	color: #00CCCC;
}
.pulsante_preferiti {
	color: #FF9900;
}
.pulsante_preferiti a {
	color: #FF9900;
}
.pulsante_preferiti_off {
	color: #FFCC33;
}
.pulsante_scheda {
	font-family:Arial;
	color: #FF0000;
}
.pulsante_scheda a {
	color: #FF0000;
}
.pulsante_scheda_off {
	color: #FFCC99;
}
.etichetta_valore {
	width:80px;

	height:17px;
	background-color: white;
	float: left;
	border: 1px solid white;
	padding-left: 3px;
	color: #0099FF;
}
.valore_scelta {
	width:70px;
	height:17px;
	float: left;
	border: 1px solid white;
	text-align: right;
	padding-right: 3px;
}
#caratteristiche {
	width:320px;
	height: auto;
	background-color: #00FF00;
	margin-left: 30px;
	float: left;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.btn{
	padding-top:10px;
}

.btnFreccia a {
    background: url("immagini/btn_green_freccia_150x25") no-repeat scroll 0 0 transparent;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 19px;
    line-height: 19px;
    text-align: left;
    width: 150px;
    padding-left: 3px;
}
.btnFreccia a:hover {
    background: url("immagini/btn_green_freccia_150x25") no-repeat scroll 0 -29px transparent;
}
	.slideDownbox, .slideUpbox, .slideTogglebox{
		float:left;
		padding:8px;
		margin:16px;
		border:1px solid red;
		width:200px;
		height:50px;
		background-color:#000000;
		color:white;
	}
	.clear{
		clear:both;
	}
.Titolo_famiglia {
	width:430px;
	min-height:25px;
	overflow:hidden;
	height: auto;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}
.Titolo_famiglia_bombole {
	width:380px;
	height:62px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}
.variante_testuale {
	width:220px;
	height:25px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}
.descr_famiglia {
	width:300px;
	height:auto;
	padding-top:2px;
	padding-bottom:10px;
	padding-right:10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	color:#000000;
}
.descr_famiglia_bombole {
	width:200px;
	height:auto;
	margin-top:5px;
	margin-bottom:5px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	color:#000000;
}
.descr_famiglia_ph {
	width:300px;
	height:178px;
	padding-top:2px;
	padding-bottom:10px;
	padding-right:10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	color:#000000;
}
.testo_descr {
	width:230px;
	height:auto;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color:#000000;
	margin-top: 7px;
}
.Stile3_off {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#CCC;
}

.icona_singola {
	width:auto;
	height:auto;
	margin-right:8px;
	float: left;
}
.icona_singola_abbassata {
	width:auto;
	height:auto;
	margin-right:8px;
	float: left;
opacity:0.33;
filter:alpha(opacity=33);
}
.pulsante_carrello {
	width:150px;
	height:19px;
	float: left;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
	/*margin-top: 5px;*/
	padding-left: 5px;
	padding-top: 4px;
	background-color:#096;
	background-image:url(immagini/btn_green_freccia_150x25.jpg)
}
.pulsante_carrello_off {
	width:150px;
	height:19px;
	float: left;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
	/*margin-top: 5px;*/
	padding-left: 5px;
	padding-top: 4px;
    background-color:#093;
	background-image:url(immagini/btn_green_freccia_150x25.jpg)
}
.riquadri_famiglia_class{
	background-position: ;
	background: no-repeat bottom right fixed;
	background-size:90px 90px;
	background: url(ballon.jpg) no-repeat center center;
/* Vendor Prefixes used with the Cover Value*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.ordina_stampa{
opacity:0.25;
filter:alpha(opacity=25);
}

